
@media (max-width: 1206px){
    .about-us__list {
        padding: 23px 100px 25px 160px;
    }
}

@media (max-width: 1114px){
    .services__item:hover{
        width: 470px;
    }

    .services__content {
        max-width: 450px;
        margin-right: 60px;
    }

    .services__item-number {
        margin-right: 25px;
    }
}

@media (max-width: 1006px){
    .banner__image{
        width: 80%;
    }

    .services__item{
        width: 400px;
    }

    .services__item:hover{
        width: 400px;
    }

    .about-us {
        margin-top: 140px;
    }

    .about-us__list {
        padding: 23px 40px 25px 160px;
    }

    .about-us__title {
        margin-left: 160px;
      }

    .about-us__image {
        margin-right: 40px;
    }
}

@media (max-width: 922px){
    .title:after{
        width: 60px;
    }

    .about-us__list {
        padding: 23px 40px 25px 80px;
    }

    .about-us__title {
        margin-left: 80px;
      }

    .contacts__inner{
        display: block;
        text-align: center;
    }

    .contacts__list{
        margin-bottom: 25px;
    }

    .contacts__input{
        width: 100%;
    }

    .contact__button{
        margin-top: 40px;
    }

    .contacts__title{
        margin-left: 0;
        text-align: center;
    }
}

@media (max-width: 820px){
    .banner__image{
        bottom: -338px;
    }

    .phone {
        font-size: 25px;
        line-height: 43px;
    }

    .header__banner{
        padding-top: 10px;
    }

    .banner__title{
        font-size: 60px;
        line-height: 90px;
    }

    .banner__subtitle {
        font-size: 26px;
        line-height: 40px;
    }

    .banner__social{
        margin-top: 40px;
    }

    .services{
        margin-top: 200px;
    }

    .services__inner{
        flex-direction: column;
    }

    .services__content{
        max-width: 100%;
    }

    .services__list{
        margin-top: 30px;
    }

    .services__item, .services__item:hover{
        width: 100%;
    }

    .about-us__list{
        padding: 23px 40px 25px;
    }

    .about-us__item{
        margin: 0 auto;
    }

    .about-us__inner{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-us__title{
        text-align: center;
        margin-left: 0;
    }


}

@media (max-width: 705px){
    .carousel{
        margin-bottom: 70px;
    }
}

@media (max-width: 651px){
    
    .header__top{
        padding-top: 17px;
    }

    .banner__title{
        font-size: 52px;
        line-height: 80px;
    }

    .banner__subtitle {
        margin-bottom: 15px;
    }

    .services{
        margin-top: 100px;
    }

    .carousel__item-wrapper{
        padding-top: 15px;
    }

    .carousel__item-image{
        margin: 0 auto;
    }

    .carousel__item-title{
        margin-top: 20px;
    }

    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .footer__social{
        display: flex;
        width: 100%;
        margin: 25px auto;
        justify-content: center;
    }

}



@media (max-width: 566px){

    .header{
        text-align: center;
    }

    header .logo__img{
        width: 70%;
    }

    .phone{
        font-size: 15px;
    }

    .banner__title{
        text-align: center;
    }

    .banner__image{
        margin-top: 40px;
        position: static;
    }

    .header .button{
        margin: 0 auto;
    }

    .banner__social{
        display: none;
    }

    .services{
        margin-top: 50px;
    }

    .footer__inner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .logo{
        display: inline-block;
        margin: 0 auto;
    }

    .footer .logo__img{
        vertical-align: middle;
    }

    .footer .logo, .footer__social, .footer__policy{
        padding: 5px 0;
    }
}

@media (max-width: 470px){
    .title{
        font-size: 26px;
    }

    .title:after{
        width: 30px;
    }

    .about-us{
        margin-bottom: 50px;
    }

    .about-us__item{
        width: 100%;
    }

    .carousel__item-image{
        max-width: 290px;
    }

    .carousel .slick-dots button{
        width: 20px;
    }

    .contacts__form{
        padding: 50px 40px 57px;
    }
}

@media (max-width: 450px){
    .services__list{
        display: none;
    }

    .about-us__image{
        display: none;
    }

    .about-us{
        margin-top: 80px;
    }

    .about-us__title{
        text-align: left;
    }


}

@media (max-width: 400px){
    .button--press-decor::after, .button--press-decor::before{
        display: none;
    }
}