
body{
    font-family: Oswald, sans-serif;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: #2C2B2B;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.button{
    display: block;

    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;

    background-color: #5A0D67;
    transition: all 0.5s;

    padding: 15px 0;
    width: 100%;
    max-width: 250px;
}

.button:hover{
    background-color: #FFFFFF;
    color: #5A0D67;
    cursor: pointer;
}

.title{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    color: #21062A;
    text-transform: uppercase;

    margin-bottom: 50px;
    position: relative;
}

.title::after{
    content: '';
    width: 80px;
    height: 3px;
    background-color: #21062A;
    position: absolute;
    top: 22px;
    margin-left: 16px;
}


.header{
    background-color: #21062A;
    background-image: url("../img/bg-mask.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: 700px;

    color: #FFFFFF;
}


.header__top{
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.phone{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}

.header__banner{
    padding-top: 60px;
    position: relative;
}

.banner__title{
    font-size: 72px;
    font-weight: 400;
    line-height: 107px;
    text-transform: uppercase;
}

.banner__subtitle{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    color: #FFFFFF;
    text-transform: uppercase;

    margin-bottom: 30px;
}

.banner__text{
    max-width: 600px;
    margin-bottom: 30px;
}

.banner__social{
    display: flex;
    align-items: center;
    margin: 70px 0 20px 66px;
}

.banner__social-link{
    margin: 0 5px;
}

.banner__image{
    position: absolute;
    right: 0;
    bottom: -303px;
}

.services{
    margin-top: 300px;
}

.services__inner{
    display: flex;
}

.services__content{
    max-width: 504px;
    margin-right: 96px;
}

.services__content-block{
    margin-bottom: 69px;
}

.services__content-block:last-child{
    margin-bottom: 50px;
}

.services__content-title{
    color: #5A0D67;

    margin-bottom: 12px;
}

.services__content-par{
    margin-bottom: 12px;
}

.button--press-decor{
    position: relative;
}


.button--press-decor::before{
    content:'';
    background-color: #C4C4C4;
    width: 80px;
    height: 1px;

    position: absolute;
    top: 25px;
    left: 240px;
}

.button--press-decor::after{
    content: 'ЖМИ';
    font-size: 14px;
    line-height: 21px;
    color: #C4C4C4;

    position: absolute;
    margin-left: 140px;
}

.services__list{
    list-style: none;
}

.services__item{
    border: 1px solid #C4C4C4;

    display: flex;
    padding: 10px 10px 10px 20px;
    margin-bottom: 12px;
    width: 450px;
    transition: width 0.5s, border-color 0.5s;
}

.services__item:hover{
    border: 2px solid #5A0D67;
    width: 500px;
}

.services__item:hover .services__item-number, .services__item:hover  .services__item-title{
    color: #5A0D67;
}

.services__item-number{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
    text-align: left;
    color: #C4C4C4;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
    margin-right: 40px;
}

.services__item-title{
    font-size: 24px;
    line-height: 36px;
    color: #2C2B2B;
}

.services__item-text{
    font-size: 18px;
    line-height: 27px;
    color: #2C2B2B;
}

.about-us{
    margin-top: 163px;
    margin-bottom: 100px;
}

.about-us__inner{
    display: flex;
}

.about-us__image{
    margin-right: 95px;
}

.about-us__content{
    width: 100%;
}

.about-us__title{
    margin-left: 185px;
}

.about-us__list{
    color: #FFFFFF;
    background-color: #21062A;

    padding: 23px 278px 25px 185px;
}

.about-us__item{
    width: 320px;
    margin-bottom: 20px;
}

.about-us__item-number{
    font-size: 36px;
    font-weight: 400;
    line-height: 53px;
}

.about-us__item-name{
    font-size: 24px;
    line-height: 36px;
}

.about-us__item-description{
    color: #C4C4C4;
}

.carousel{
    margin-bottom: 100px;
}

.carousel__inner{
    margin: 0 -7px;
}

.carousel__item{
    margin: 0 7px;
}

.carousel__item-wrapper{
    color:#2C2B2B;
    text-align: center;

    border: 1px solid #C4C4C4;
    padding: 5px 5px 16px 5px;

    transition: 0.5s;
}

.carousel__item-wrapper:hover{
    color: #FFFFFF;
    background-color: #5A0D67;
    border: 1px solid #5A0D67;
}

.carousel__item-image{
    max-width: 100%;
    margin-bottom: 20px;
}

.carousel__item-title{
    text-transform: uppercase;
    margin-bottom: 5px;
}

.carousel .slick-dots{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.carousel .slick-dots button{
    font-size: 0;
    width: 50px;
    height: 1px;
    background-color: #C4C4C4;
    margin: 0 10px;
}

.carousel .slick-dots li.slick-active button{
    background-color: #5A0D67;
    height: 3px;
}

.contacts__inner{
    display: flex;
    justify-content: space-between;
}

.contacts__item{
    margin-bottom: 20px;
}

.contacts__item-title{
    color: #5A0D67;
}

.contacts__form{
    background-color: #21062A;

    padding: 50px 75px 57px;
}

.contacts__title{
    color: #FFFFFF;
    margin-bottom: 16px;
    margin-left: 53px;
}

.contacts__title::after{
    background-color: #FFFFFF;
}

.contacts__input{
    display: block;

    color: #FFFFFF;
    background-color: transparent;
    text-align: center;

    border: 1px solid #FFFFFF;
    width: 450px;
    height: 75px;
    margin-bottom: 12px;
}

.contacts__input::placeholder{
    font-family: Oswald, sans-serif;
    color: #C4C4C4;
    font-weight: 300;
}

.contacts__button{
    margin: 78px auto 0;
}

.footer{
    background-color: #21062A;
    padding: 24px 0;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__policy{
    color: #FFFFFF;
}